node_modules/
release/dist/
release/background.js
release/_metadata/
test/.profile/
test/artifacts/
.DS_Store
yarn-error.log
**/.qa-profile/
test/.profile-shot/
test/shots/
test/.profile-shot-bookmarks/
